/*Dialog*/
#floatBoxBg{display:none;width:100%;height:100%;background:#000;position:absolute;top:0;left:0;z-index: 800}
.floatBox{border:#333 1px solid;width:300px;position:absolute;top:40px;left:40%;z-index: 999}
.floatBox .title{height:30px;padding:0px 0px 0;background-position:0px -72px;cursor:move;background-color: #F7F7F7;}
.floatBox #icon{width:16px;height:16px;float:left;margin-top:8px;margin-left:5px;margin-right:5px;background:url(icon.gif) no-repeat;background-position:0px -80px;}

.floatBox #iconclose{width:33px;height:16px;float:left;margin-left:5px;margin-right:5px;margin-top:6px;background:url(cross.png) no-repeat;background-position:0px -0px;}
.floatBox #iconclose:hover{width:33px;height:16px;float:left;margin-left:5px;margin-right:5px;margin-top:6px;background:url(cross.png) no-repeat;background-position:0px -0px;}

.floatBox .title h4{float:left;padding:0;margin:7px 0px 0px 0px;font-size:12px;color:#333;line-height:17px;}
.floatBox .title span{float:right;cursor:pointer;}
.floatBox .content{padding:5px;background:#fff;}

.imgclasshand{cursor:pointer;}
.ulbottonlist{list-style:none;text-align:center;margin:5px 0px 5px 0px;overflow:hidden;}
.ulbottonlist li{float:left;margin:3px 3px 0px 0px;}