{template 'wap/header.html'}
<script LANGUAGE="javascript">
    <!--
    function CheckForm()
    {
        if (document.myform.pwdconfirm.value!=document.myform.password.value)
        {
            alert("{lang(twicepassnosame)}")
            document.myform.password.value = ""
            document.myform.pwdconfirm.value = ""
            document.myform.password.focus()
            document.myform.password.select()
            return false
        }

        document.myform.submit.disabled=true;
    }
    //-->
</script>

<div class="blank10"></div>
<div class="title"><a>{lang(userinfo)}</a></div>


<div id="search">
<a href="{url('user/edit/table/user')}">{lang(edituserinfo)}</a> |
<a href="{url('user/changepassword')}">{lang(changepassword)}</a> |
<a href="{url('manage/orderslist/manage/orders')}">{lang(vieworders)}</a>
</div>
<div class="search_b"></div>



<div class="clear box">
<div class="p10">

<?php
if(hasflash()){
	$showmessage = showflash();
	if(strlen($showmessage)>200){ 
?>
<div id='message'><span style="color:red;float:left"><?php echo $showmessage; ?></span>
<span style="color:blue;float:right"><a href="#" onClick="javascript:turnoff('#message');">(×)</a></span></div><div class="blank20"></div>
<?php
    }else{
?>
<script type="text/javascript">
art.dialog({
		id:'messagebox',
		content:'<?php echo $showmessage; ?>',
		title:'{lang(prompted)}',
		time: 2,
		lock:true
	});
</script>
<?php
    }
}
?>

<form name=myform onsubmit="return CheckForm();" action="<?php echo uri();?>" method=post>
<table border="0" cellspacing="1" cellpadding="4" class="list" name="table" id="table" width="100%"> 

					<tbody>
                <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                    <td class="left">{lang(oldpassword)}</td>
                    <td><input id=oldpassword type=password size=15 value=""
                                             name=oldpassword> </td></tr>
                <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                    <td class="left">{lang(newpassword)}</td>
                    <td><input id=password type=password size=15 value=""
                                             name=password></td></tr>
                <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                    <td class="left">{lang(againpassword)}</td>
                    <td><input id=pwdconfirm type=password size=15 value=""
                                             name=pwdconfirm></td></tr>
                <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                    <td height=45></td>
                    <td><input type=hidden value=1 name=dosubmit> <input class=btn type=submit value="{lang(editi)}" name=submit> <input class=btn type=reset value="{lang(clear)}" name=reset></td></tr></tbody></table></form>
                    
             <div class="blank10"></div>
<div class="blank10"></div>
<a href="javascript:history.back(-1)">{lang(backuppage)}</a>	|	<a href="{$base_url}/wap/">{lang(backhome)}</a>
<div class="blank10"></div>
</div>
</div>

{template 'wap/footer.html'}