{template 'wap/header.html'}

<div class="blank10"></div>
<div class="title"><a>{lang(userinfo)}</a></div>


<div id="search">
<a href="{url('user/edit/table/user')}">{lang(edituserinfo)}</a> |
<a href="{url('user/changepassword')}">{lang(changepassword)}</a> |
<a href="{url('manage/orderslist/manage/orders')}">{lang(vieworders)}</a>
</div>
<div class="search_b"></div>



<div class="clear box">
<div class="p10">


<?php
if(hasflash()){
	$showmessage = showflash();
	if(strlen($showmessage)>200){ 
?>
<div id='message'><span style="color:red;float:left"><?php echo $showmessage; ?></span>
<span style="color:blue;float:right"><a href="#" onClick="javascript:turnoff('#message');">(×)</a></span></div><div class="blank20"></div>
<?php
    }else{
?>
<script type="text/javascript">
art.dialog({
		id:'messagebox',
		content:'<?php echo $showmessage; ?>',
		title:'{lang(prompted)}',
		time: 2,
		lock:true
	});
</script>
<?php
    }
}
?>

<form method="post" name="form1" action="<?php echo modify("/act/edit/userid/".$data['userid']);?>"  onsubmit="return checkform();">

<table border="0" cellspacing="1" cellpadding="4" class="list" name="table" id="table" width="100%"> 

        <tbody>
            
                                            
            <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">{lang(username)}</td>
                <td>{$data['username']}</td>
            </tr>
			<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">User</td>
                <td>{form::getform('nickname',$form,$field,$data)}</td>
            </tr>
            <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">{lang(question)}</td>
                <td>{form::getform('question',$form,$field,$data)}</td>
            </tr> 
            <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">{lang(answer)}</td>
                <td>{form::getform('answer',$form,$field,$data)}</td>
            </tr>              
            <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">{lang(qq)}</td>
                <td>{form::getform('qq',$form,$field,$data)}</td>
            </tr>

                            
            <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">E-Mail</td>
                <td>{form::getform('e_mail',$form,$field,$data)}</td>
            </tr>

                            
            <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">{lang(tel)}</td>
                <td>{form::getform('tel',$form,$field,$data)}</td>
            </tr>

			<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">{lang(address)}</td>
                <td>{form::getform('address',$form,$field,$data)}</td>
            </tr>

			<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left">{lang(intro)}</td>
                <td>{form::getform('intro',$form,$field,$data)}</td>
            </tr>
 
            {loop $field $f}
            <?php
            $name=$f['name'];
            if(!preg_match('/^my_/',$name)) {
            unset($field[$name]);
            continue;
            }
            if(!isset($data[$name])) $data[$name]='';
            ?>
            <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td class="left"><?php echo setting::$var['user'][$name]['cname']; ?></td>
                <td>
                    <?php echo form::getform($name,$form,$field,$data); ?>
                </td>
            </tr>
            {/loop}
            
        </tbody>
		</table>
        
        
       

<div class="blank10"></div>
<div class="blank10"></div>
<a href="javascript:history.back(-1)">{lang(backuppage)}</a>	|	<a href="{$base_url}/wap/">{lang(backhome)}</a>
<div class="blank10"></div>
</div>
</div>

{template 'wap/footer.html'}