{template 'wap/header.html'}
<div class="blank10"></div>
<div class="title"><a>{lang(userinfo)}</a></div>


<div id="search">
<a href="{url('user/edit/table/user')}">{lang(edituserinfo)}</a> |
<a href="{url('user/changepassword')}">{lang(changepassword)}</a> |
<a href="{url('manage/orderslist/manage/orders')}">{lang(vieworders)}</a>
</div>
<div class="search_b"></div>



<div class="clear box">
<div class="p10">


<table border="0" cellspacing="1" cellpadding="4" class="list" name="table" id="table" width="100%">

<tbody>
<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">ID </td>
<td>{$user[userid]}</td>
</tr>

<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">{lang(username)} </td>
<td align="left">{$user[username]}</td>
</tr>

<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">{lang(question)} </td>
<td align="left">{$user[question]}</td>
</tr>

<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">{lang(answer)}</td>
<td align="left">{$user[answer]}</td>
</tr>

<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">{lang(tel)}</td>
<td align="left">{$user[tel]}</td>
</tr>

<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">{lang(e_mail)}</td>
<td align="left">{$user[e_mail]}</td>
</tr>

<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">{lang(address)}</td>
<td align="left">{$user[address]}</td>
</tr>

<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">{lang(qq)}</td>
<td align="left">{$user[qq]}</td>
</tr>

<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">{lang(intro)} </td>
<td align="left">&nbsp;{$user[intro]}</td>
</tr>
 {loop $field $f}
            <?php
            $name=$f['name'];
            if(!preg_match('/^my_/',$name)) {
            unset($field[$name]);
            continue;
            }
            if(!isset($data[$name])) $data[$name]='';
            ?>
            <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                <td align="right" class="left"><?php echo setting::$var['user'][$name]['cname']; ?></td>
                <td align="left">
                    <?php 
                    //if(setting::$var['user'][$name]['selecttype'] == 'checkbox'){
                    	//$str = $data[$name];
                        
                    //}else{
                    	echo form::getform($name,setting::$var['user'],$field,$data);
                    //}
                    ?>
                </td>
            </tr>
            {/loop}
          <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
<td align="right" class="left">快捷登录 </td>
<td align="left"><?php if($user['qqlogin']){echo '已开通QQ快捷登录';}?> <?php if($user['alipaylogin']){echo '已开通支付宝快捷登录';}?></td>
</tr>  
      </tbody>
    </table>
    
  
<div class="clear"></div>
     
<div class="blank10"></div>
<div class="blank10"></div>
<a href="javascript:history.back(-1)">{lang(backuppage)}</a>	|	<a href="{$base_url}/wap/">{lang(backhome)}</a>
<div class="blank10"></div>
</div>
</div>

{template 'wap/footer.html'}