{template 'wap/header.html'}

<div class="blank10"></div>
<div class="title"><a>{lang(userinfo)}</a></div>


<div id="search">
<a href="{url('user/edit/table/user')}">{lang(edituserinfo)}</a> |
<a href="{url('user/changepassword')}">{lang(changepassword)}</a> |
<a href="{url('manage/orderslist/manage/orders')}">{lang(vieworders)}</a>
</div>
<div class="search_b"></div>



<div class="clear box">
<div class="p10">

<script type="text/javascript" src="{$base_url}/common/js/list.js"></script>
<script language="javascript" src="{$base_url}/common/js/common.js"></script>


<form name="listform" id="listform"  action="<?php echo uri();?>" method="post">

   <table border="0" cellspacing="1" cellpadding="4" class="list" name="table" id="table" width="100%"> 
        <thead>
            <tr>
                <th align="center"><!--oid-->{lang(id)}</th>
                <th align="center">商品名</th>
                <th align="center"><!--status-->{lang(orderstatus)}</th>               
                <th align="center"><!--adddate-->{lang(adddate)}</th>
          
                <th align="center">{lang(dosomething)}</th>
            </tr>

        </thead>
        <tbody>
            {loop $data $d}
<?php
if($d['status']==1){
	$d['status']='<font color="green">完成</font>';
}elseif($d['status']==0){
	$d['status']='<font color="red">新订单</font>';
}elseif($d['status']==2){
	$d['status']='<font color="blue">处理中</font>';
} 
?>
            <tr class="s_out" onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">

                <td align="center">{cut($d['oid'])}</td>
                <td align="center">{getArchiveTitle($d['aid'])}</td>
                <td align="center">{$d['status']}</td>
                <td align="center">{cut(date('Y-m-d H:i:s',$d['adddate']))}</td>

                <td align="center">
                    <a href='<?php echo url("archive/orders/oid/".$d['oid'],false);?>' target="_blank" >{lang(look)}</a>                   
                </td>
            </tr>
            {/loop}


        </tbody>
    </table>


    <div class="blank10"></div>
   

</form>


<div class="page"><?php if(get('table')!='type' && front::get('case')!='field') echo pagination::html($record_count); ?></div>


<div class="clear"></div>
     
<div class="blank10"></div>
<div class="blank10"></div>
<a href="javascript:history.back(-1)">{lang(backuppage)}</a>	|	<a href="{$base_url}/wap/">{lang(backhome)}</a>
<div class="blank10"></div>
</div>
</div>
{template 'wap/footer.html'}