.box {clear:both; width:699px;margin:0px auto;padding:0px auto;overflow:hidden;}
td.td_l {width:31%;}
td.td_r {width:69%;}
.c_top {
  clear:both;
  height:10px;
  background:url(images/c_top.gif) -280px top no-repeat;
}

.c_bg {
  background:url(images/c_bg.gif) left top repeat-y;
}

.c_bottom {
  clear:both;
  height:10px;
  background:url(images/c_bottom.gif) left top no-repeat;
}