@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea, table, tr, td
{margin:0px;padding:0px;}
fieldset, img {border:0;}
li {list-style:none;}

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd,samp { font-family: courier new, courier, monospace; }

ins {text-decoration:none;}
del {text-decoration:line-through;}
h1, h2, h3, h4, h5, h6 {}
h1 {font-size: 2em;}
h2 {font-size: 1.7em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.38em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;font-style: italic;}

address,cite,dfn,em,var{font-style:normal;}
caption,td {font-weight: normal;}
cite, blackquote, em, i {font-style: italic;}
strong, b {	font-weight: bold;}
pre, code {font-family: monospace;font-size: 1.1em;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
table {	border-collapse:collapse; /* 边框合并属性 */border-spacing:0;}
q:before, q:after, blockquote:before, blockquote:after {content:"";content:none}
blockquote, q {	quotes:none;}

legend { color: #000; } 
button,input,select,textarea,checkbox,radio 
{vertical-align:middle;}

a{ text-decoration: none; }
a:hover{ text-decoration: underline; }

body {
margin: 0px;
padding: 0px; 
border: 0px;
color: #555;
font-size:12px;
line-height:180%;
text-align: left;
background: #EAEAEA url(images/bg.gif) left top repeat-x;
font-family:'微软雅黑';
}

.floatright {
  float:right;
}

.floatleft {
  float:left;
}

.box {clear:both; width:990px;margin:0px auto;padding:0px auto;overflow:hidden;}

a {color:#555;text-decoration: none;}
a:hover {color:#2C5997;text-decoration: underline;}

.clear {clear:both;}

.blank10,.blank30 {clear:both;height:10px;overflow:hidden;}
.blank30 {height:30px;}

.line {
  clear:both;
  height:2px;
  margin:10px 0px;
  background:url(images/line.gif) left top repeat-x;
}
.line_2 {
  clear:both;
  height:2px;
  margin:10px 0px;
background:url(images/line-2.gif) left bottom repeat-x;
}

.w_305 {
  float:left;
  width:305px;
  margin:0px 0px 10px 10px;
  overflow:hidden;
}

.w_250 {
  float:left;
  width:250px;
  margin:0px 0px 10px 10px;
  _margin:0px 0px 10px 5px;
  overflow:hidden;
}

.w_622 {
  float:right;
  width:622px;
  padding:0px 10px 10px 0px;
  overflow:hidden;
  }

.w_700 {
  float:right;
  width:650px;
  margin:0px 10px 10px 0px;
  padding:0px 25px 15px 25px;
  overflow:hidden;
}

.r_bg {
  background:url(images/r_bg.png) 18px top no-repeat;
}

.c_top {
  clear:both;
  height:10px;
  overflow:hidden;
  background:url(images/c_top.gif) left top no-repeat;
}

.c_bg {
  background:url(images/c_bg.gif) 280px top repeat-y;
}

.c_bottom {
  clear:both;
  overflow:hidden;
  height:10px;
  background:url(images/c_bottom.gif) 280px top no-repeat;
}

/* 全局参数结束 */

/*  */

/* 页头 */
.header {
  position:relative;
  width:990px;
  margin:0px auto;
  padding:0px auto;
  color:#999;
}

.header a {color:#999;}
/* logo */
.logo { float:left; margin-top:10px;}
/* 顶部链接 */
.subnav {
  float:right;
  width:400px;
  margin:10px 0px;
  text-align:right;
}
/* 搜索 */
.search {
  clear:both;
  float:right;
  width:195px;
  height:24px;
  line-height:24px;
  margin-top:20px;
  background:url(images/search_bg.gif) left top no-repeat;
}
.s_text {float:left;width:139px;height:22px;line-height:22px;margin:1px;padding:0px 10px;border:none;color:#999;} 
.s_btn {float:right; width:30px;height:24px;border:none;background:url(noname.gif);cursor: pointer;}
.s_btn_a  {float:right; width:62px;height:27px;line-height:27px;color:white; border:none;background:url(images/s_btn_a.gif);cursor: pointer;}


/* 导航 */
.nav {
  clear:both;
  width:994px;
  height:44px;
  margin:0px auto;
  padding:0px auto;
  color:white;
  background:url(images/nav_bg.png) left top no-repeat;
}

#nav {padding-left:20px;}
#nav li {float: left;text-align:left;}
#nav a { color:white;text-decoration: none;}


#nav li.one {
  float:left;
  width:96px;
  height:44px;
  line-height:40px;
  text-align:center;
  font-size:14px;
  overflow:hidden;
}
#nav li.one a {
  display:block;
  width:96px;
  height:44px;
  background:url(images/nav_line.gif) right top no-repeat;
}

#nav li.on {
  background:url(images/nav_on.gif) left top repeat-x;
  font-weight:bold;
}

#nav li.one:hover,#nav li.one a:hover {
  width:96px;
  color:#104578;
  font-weight:bold;
  background:url(images/nav_hover.gif) left 3px no-repeat;
}

#nav li.one:hover a,#nav li.one ul li a:hover {color:#104578;background:none;}

.ifocus {z-index:99; position: relative;}

#nav li ul {position: absolute;left: -999em;height: auto;width: 208px;margin:0px 0px 0px -3px;_margin:0px 0px 0px -47px; padding:0px 0px 10px 0px; background:url(images/nav_a_bg.png) left bottom no-repeat;z-index:99999; }
#nav li ul li {display: block; width:208px;height:28px;line-height:28px;overflow:hidden;}
#nav li ul ul {margin: -2.8em 0 0 14em;}
#nav li ul span,#nav li ul ul span {display:block; margin:0px 5px; border-top:2px solid #DADADA;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {left: -999em;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {left: auto;}

#nav li.one ul li a,#nav li.one ul li a:link {width:158px; margin-left:40px;color:#333;font-weight:normal;font-size:12px;background:none;} 
#nav li.one ul li a:hover {color:#104578;}

/* 公告 */
#announ {
  float:left;
  height:44px;
  line-height:44px; 
  padding:0px 0px 0px 30px;
  background:url(images/announ.gif) 5px center no-repeat;
  overflow:hidden;
}


/* 多站登录 */
.website {
  float:right;
  padding:10px 0px 0px 0px;
  color:#999;
  font-size:10px;
}
.website a {color:#999;}
.website select {margin-left:15px;font-size:12px;}

/* 幻灯 */
.banner {
  width:990px;
  margin:0px auto;
  padding:0px auto;
  padding-bottom:24px;
  _padding-bottom:22px;
  background:url(images/banner_line.gif) center bottom no-repeat;
}



/* 页底 */
#footer {
 clear:both;
 width:100%;
 background:url(images/foot_bg.gif) left top repeat-x;
 font-size:12px;
}
#footer a {color:#777;}
.footer {
  clear:both;
  color:#777;
  font-size:12px;
  border:1px solid #D7D7D7;
  margin-bottom:10px;
  padding:0px 30px;
  background:white url(images/links_bg.gif) left top repeat-x;
}

.links {
  clear:both;
  height:31px;
  padding:11px 0px;
}
.links img {width:88px; height:31px;}

.about,.copyright {
  clear:both;
  line-height:18px;
  background:white;padding:10px 30px;
}
.about {margin-top:8px;border-bottom:1px solid #EAEAEA;color:#D4D4D4;}
.about img {margin-right:10px;}
.about a {color:#4B86C2;padding:0px 10px;}
.hot_keys {line-height:29px;  margin-bottom:10px; text-align:center;color:#999;}
.hot_keys a {color:#999;}

/* 综合 */

.title {
  color:#999;
  clear:both;
  height:22px;
  line-height:22px;
}

.title h3{ line-height:22px; color:#ccc; font-weight:normal;}
.title h3 a{ color:#1161B4; font-size:18px;  line-height:18px;padding-right:5px;text-decoration: none;}
.title h3 span{ 
  padding-left:5px;
  font-size:14px;
  color:#646464; 
  line-height:14px; 
  text-transform:capitalize;
}

.readme {
  display:block;
  width:80px;
  height:17px;
  margin:10px;
  background:url(images/readme.gif) left top no-repeat;
}

.news_list {

}

.news_list li {
  clear:both;
  line-height:32px;
  padding-left:14px;
  background:url(images/dot_gray.gif) left center no-repeat;
}

#content .news_list li {background:none;font-size:12px;}

.news_list li span {
  float:right;
  color:#999;
}

.text_img {
  float:left;
  width:102px;
  height:122px;
  margin:0px 15px 10px 0px;
  padding:3px;
  background:white;
  border:1px solid #ccc;
  overflow:hidden;
}

.text_img img {
  width:102px;
  height:122px;
}

.text_pic h5,.text_pic h5 a {font-size:14px; color:#2C5997;font-weight:normal;}

.text_pic p {margin-top:10px;}

.i_video {float:right;width:216px;margin:0px 0px 10px 10px;}

.special .text_img {
  width:122px;
  height:162px;
}

.special .text_img img {
  width:122px;
  height:162px;
}

.special .text_pic h5,.special .text_pic h5 a {font-size:18px;}

.down_list {
  line-height:30px;
  padding:0px 10px 0px 35px;
  background:url(images/downlist_bg.gif) left top no-repeat;
  border-right:1px solid #F7F7F7;
  border-bottom:1px solid #F7F7F7;
}

.down_list span {float:right;}
.d2,.d2 a {color:white;}

.order {
  clear:both;

  height:27px;
  line-height:27px;
  background:url(images/btn.gif) right top no-repeat;
}

.o_text {float:left;width:140px;height:24px;line-height:24px; padding:0px 10px;border:1px solid #999;color:#999;} 
.o_btn {float:right; width:62px;height:27px;border:none;background:url(noname.gif); color:white; text-align:center;cursor: pointer; }


.contact_list {
  padding:10px 10px 10px 80px;
  background:url(images/contact_icon.gif) 5px center no-repeat;
}

/* 滚动图片 */
.scroll{ width:552px; margin:auto; position:relative; padding:0px 30px 0px 40px; overflow:hidden; margin-bottom:10px;}
.scroll ul{}
.scroll li { width:126px; text-align:center; overflow:hidden; padding:0 5px; vertical-align:100%;}
.scroll li a{ display:block; color:#333; line-height:20px;font-size:12px;}

.scroll .img-wrap{
  margin:0 auto;
  width:90%;
  height:150px;
  /*非IE的主流浏览器识别的垂直居中的方法*/
  display: table-cell;
  vertical-align:middle;
  /*设置水平居中*/
  text-align:center;
  /* 针对IE的Hack */
  *display: block;
  *font-size: 139px;/*约为高度的0.873，200*0.873 约为175*/
  *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
}
.scroll img {
  display:block;
  width:106px;
  width:80%\0;
  _width:120px;
  margin:0px auto;
  vertical-align:middle;
  padding:5px;
  border:1px solid #ccc;
  _border:none;
  background:url(images/pic_bg.gif) left top no-repeat;
  border-right:1px solid white; 
  border-bottom:1px solid white;
  }
.scroll img:hover,#list-view .highlight{border-color:#ff8015;_border:none;}


.scroll li span {color:#F3572F;}
.scroll a.bx-prev,.scroll a.bx-next{
	position:absolute;
	top:0;
	display:block;
	width:40px;
	height:158px;
	background: url(images/scroll.gif) no-repeat left center;
	z-index:99999;
}
.scroll a.bx-prev{left:-24px;}
.scroll a.bx-prev:hover{background: url(images/scroll.gif) no-repeat -80px center;}
.scroll a.bx-next{right:-24px;background: url(images/scroll.gif) no-repeat -40px center;}
.scroll a.bx-next:hover{background: url(images/scroll.gif) no-repeat -120px center;}


/* 分类 */
.i_type {
  clear:both;
  width:624px;
  height:29px;
  line-height:29px;
  padding:7px;
  background:url(images/i_type_bg.gif) left top no-repeat;
}

.i_type a {
  float:left;
  display:block;
  height:28px;
  line-height:28px;
  margin:0px 2px;
  padding:0px 10px;
  background:url(images/teyp_a_bg.gif) left top repeat-x;
  color:white;
  border-bottom:1px solid #CFCFCF;
  text-decoration: none;
}

.i_type a.on,.i_type a:hover {
  color:#333;
  background:url(images/type_a_on.gif) left top repeat-x;
  border-bottom:1px solid #888;
}

/* 招聘 */
.i_job {
  float:left;
  width:300px;
}

/* 投票 */
.i_vote {
  float:right;
  width:300px;
}

.i_vote h5 {
  height:26px;
  line-height:26px;
  margin:10px 0px;
  padding:0px 10px;
  border:1px solid #ccc;
  font-weight:normal;
  font-size:12px;
  background:white;
}

.i_vote #ballot {margin-left:10px;}

.i_vote #button {
  float:left;
  display:block;
  height:22px;
  line-height:22px;
  margin:15px 0px 10px 0px;
  padding:0px 20px;
  background:url(images/teyp_a_bg.gif) left top repeat-x;
  color:white;
  border:none;
}

.mailbtn {
  width:178px;
  height:35px;
  line-height:35px;
  margin-left:15px;
  border:none;background:url(images/mailbtn.gif) left top no-repeat;
}




/* 列表 */
.r_box {
  clear:both;
  padding:10px;
  background:url(images/r_box_bg.gif) left top repeat-y;
}

.r_box_top {
  clear:both;
  height:4px;
  overflow:hidden;
  background:url(images/r_box_top.gif) left top no-repeat;
}

.r_box_bottom {
  clear:both;
  height:4px;
  overflow:hidden;
  background:url(images/r_box_bottom.gif) left top no-repeat;
}



.l_box {
  clear:both;
  padding:10px;
  background:url(images/l_box_bg.gif) left top repeat-y;
}

.l_box_top {
  clear:both;
  height:4px;
  overflow:hidden;
  background:url(images/l_box_top.gif) left top no-repeat;
}

.l_box_bottom {
  clear:both;
  height:4px;
  overflow:hidden;
  background:url(images/l_box_bottom.gif) left top no-repeat;
}

#content {
  width:630px;
  line-height:200%;
  font-size:14px;
}



.archive_title,.archive_title h1 {
  clear:both;
  font-size:16px; line-height:26px; color:#0160b0; text-align:center; padding:20px 0px 20px; font-weight:normal;
}

.archive_title h1 {line-height:32px;padding:0px 15px;background:url(images/pic_bg.gif) left top no-repeat;border-right:1px solid white; border-bottom:1px solid white;}

_#content {margin-left:25px;}







