{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $archive}
<li{if $i%2==0}{else} class="d2"{/if}><span>{$archive['my_size']}</span><a href="{$archive[url]}">{$archive['title']}</a></li>
{/loop}