

<div id="footer">
<div class="box">
<p>&copy;&nbsp;<a title="{get('sitename')}" href="{$base_url}/wap">{get('sitename')}</a> All Rights Reserved. </p>
<p class="address">{get(address)}</p>
<p class="tel">{get(tel)}</p>
<p class="email"><a href="index.php?case=guestbook&act=index&t=wap">{lang(feedback)}</a></p>
{if get('site_login')=='1'}<p class="user">{login_js()}</p>{/if}
<p>Powered by <a href="http://www.cmseasy.cn" title="CmsEasy企业网站系统" target="_blank">CmsEasy</a></p>
</div>
</div>
<div class="footer" id="box_footerBody">
        <div class="footer_body">
            <ul class="footer_ul">
                <li>
                    <a href="tel:{get(site_mobile)}" data-icon="custom">	
                        <span class="icon f_tel"></span>
                        <span class="text">{lang(tel)}</span>
                    </a>
                </li>
				<li>
                    <a href="sms:{get(site_mobile)}" data-icon="custom">
                        <span class="icon massage"></span>
                        <span class="text">{lang(sms)}</span>
                    </a>
                </li>
				<li>
                    <a href="{$base_url}/wap" class="border_none" data-icon="custom">
                        <span class="icon share"></span>
                        <span class="text">{lang(home)}</span>
                    </a>
                </li>
                <li>
                    <a href="{$base_url}/index.php?case=guestbook&act=email&t=wap" data-icon="custom">	
                        <span class="icon mail"></span>
                        <span class="text">{lang(email)}</span>
                    </a>																											
                </li>
                <li>
                    <a href="{$base_url}/index.php?case=archive&act=pages&t=wap&p=map" data-icon="custom">
                        <span class="icon map"></span>
                        <span class="text">{lang(map)}</span>
                    </a>
                </li>
                
                
            </ul>
        </div>
    </div>
</body>
</html>