{template 'wap/header.html'}
<!-- 页面中部开始 -->

<div class="title">{tag_手机版首页第一个栏目}</div>
<div class="clear box">


<div id="list-view" class="p10">
<img alt="{get(sitename)}" src="{$skin_path}/images/i_about.jpg" style="float:left;width:100px;margin:0px 10px 10px 0px"  />
{tag_公司简介}
</div>
<div class="clear"></div>
</div>

</div>

<div class="title">{tag_手机版首页第二个栏目}</div>
<div class="clear box">
<div class="top_news">
{tag_手机版首页第二个栏目推荐内容}
</div>
<ul class="news_list p10">
{tag_手机版首页第二个栏目内容5条}
</ul>
</div>

<div class="title">{tag_手机版首页第三个栏目}</div>
<div class="clear box">
<div class="p10">
<ul id="list-view">
<li>
{tag_手机版首页第三个栏目内容图片}
<div class="clear"></div>
</li>
</ul>
<div class="clear"></div>
</div>
</div>


<div class="title"><a>{lang(mailsubscription)}</a></div>
<div class="box">
<div class="p20">
<form name="listform" id="listform"  action="<?php echo url('archive/email');?>" method="post">
<input type="text" name="email" size="23" value="" class="mailinput" > <input type="submit" value=" {lang(mailsubscription)} " name="submit" class="mailbtn" />
</form>
</div>
</div>

{template 'wap/footer.html'}
