{template 'wap/header.html'}
<div class="blank10"></div>
<div class="title">{if $category[$catid][parentid]}<a href="{category::url($category[$catid][parentid])}">{$category[$category[$catid][parentid]][catname]}</a> &gt; {/if}<a href="{category::url($catid)}">{$category[$catid][catname]}</a></div>

{if $subids}
<div id="search">
{loop $subids $id}
<a href="{category::url($id)}">{$category[$id][catname]}</a> |
{/loop}
</div>
<div class="search_b"></div>
{/if}


<div class="clear box">
<div class="p10">

<!-- 内容列表开始 -->
{loop $archives $i $archive}
<div class="news_text_pic">
<div class="list_text_pic"><div class="img-wrap"><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}"><img alt="{$archive[stitle]}" src="{$archive[thumb]}" onerror='this.src="{config::get('onerror_pic')}"' /></a></div></div>

<div class="down_text">
<h5><span class="date">{$archive[adddate]}</span><a title="{$archive[stitle]}" href="{$archive[url]}">{$archive[title]}</a></h5>
<p>{lang(view)}：{view_js($archive[aid])}</p>
<p>{lang(strgrade)}：{$archive[strgrade]}</p>
<p>{lang(nowdownload)}：{if $archive['attachment_id']}{attachment_js($archive['aid'])}{else}{lang(NoDownload)}{/if}</p>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

{/loop}
<!-- 内容列表结束 -->

<div class="blank30"></div>

<!-- 内容列表分页开始 -->
{if isset($pages)}
{category_pagination($catid)}
{/if}
<!-- 内容列表分页开始 -->

<div class="blank10"></div>
<div class="blank10"></div>
<a href="javascript:history.back(-1)">{lang(backuppage)}</a>	|	<a href="{$base_url}/wap/">{lang(backhome)}</a>
<div class="blank10"></div>
</div>
</div>
{template 'wap/footer.html'}