﻿{template 'wap/header_a.html'}  
<div class="blank10"></div>

<div class="title">
{lang(sitemap)}
</div>



<div class="clear box">
<div id="content">
<div class="p10">


<!--引用百度地图API-->
{template 'ditu_wap.html'}

<div class="blank10"></div>
<div class="blank10"></div>
<a href="javascript:history.back(-1)">{lang(backuppage)}</a>	|	<a href="{$base_url}/wap/">{lang(backhome)}</a>
<div class="blank50"></div>
</div>
</div>
</div>
{template 'wap/footer_a.html'}  