﻿{template 'wap/header_a.html'}  
<div class="blank10"></div>

<div class="title">
{lang(share)}
</div>



<div class="clear box">
<div id="content">
<div class="p10">

        <!--mail-->
        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"  style="background-color:white">
		<a class="bds_tsina lt lt"></a>
		<a class="bds_qzone lt lt"></a>
		<a class="bds_tqq lt lt"></a>
		<a class="bds_renren lt lt"></a>
		<a class="bds_t163 lt lt"></a>
		<a class="bds_bdxc lt lt"></a>
		<a class="bds_kaixin001 lt lt"></a>
		<a class="bds_tieba lt lt"></a>
		<a class="bds_sqq lt lt"></a>
		<a class="bds_douban lt lt"></a>
		<a class="bds_thx lt"></a>
		<a class="bds_qq lt"></a>
		<a class="bds_mshare lt"></a>
		<a class="bds_baidu lt"></a>
		<a class="bds_tqf lt"></a>
		<a class="bds_tsohu lt"></a>
		<a class="bds_taobao lt"></a>
		<a class="bds_hi lt"></a>
		<a class="bds_meilishuo lt"></a>
		<a class="bds_mogujie lt"></a>
		<span class="bds_more lt"></span>
		</div>
		<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2435286" ></script>
		<script type="text/javascript" id="bdshell_js"></script>
		<script type="text/javascript">
		document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
		</script>
<div class="blank10"></div>
<div class="blank10"></div>
<a href="javascript:history.back(-1)">{lang(backuppage)}</a>	|	<a href="{$base_url}/wap/">{lang(backhome)}</a>
<div class="blank10"></div>
</div>
</div>
</div>
{template 'wap/footer_a.html'}  
