{template 'header.html'}
<!-- 面包屑导航开始 -->
<div class="clear box">
{template 'position.html'}
</div><div class="blank5"></div>
<!-- 面包屑导航结束 -->

<!-- 中部开始 -->
<div class="clear box c_bg">
<div class="c_top"></div>

<!-- 左侧开始 -->
<div class="w_250">

{template 'left.html'}

<!-- 订单查询 -->
<div class="title mt20 mb20">
<h3><a>{lang(vieworders)}</a>/<span>Order</span></h3>
</div>


<div class="l_box_top"></div>
<div class="l_box">
<div class="order">
<input size="20" id="oid" class="o_text" name="oid" type="text" align="absmiple"value=" {lang(orderid)}… " onfocus="if(this.value==' {lang(orderid)}… ') {this.value=''}" onblur="if(this.value=='') this.value=' {lang(orderid)}… '" /> 
<input type="submit" id="search_btn" align="absmiple" name='submit' value=" {lang(look)} " onclick="javascript:window.location.href='<?php echo url('archive/orders');?>&oid='+document.getElementById('oid').value;" class="o_btn" />
</div>
</div>
<div class="l_box_bottom"></div>

<div class="clear"></div>
</div>
<!-- 左侧结束 -->


<!-- 右侧开始 -->
<div class="w_700">

<div id="content" style="width:650px;" class="clear">


<div class="blank30"></div>

<style>
/*左侧图片*/
.frame_box{width:340px;float:left;}
/*大图*/
 #frame {width:100%;margin:0px;}
.frame {width:100%;  overflow:hidden;  vertical-align:middle; }
.frame .list {  list-style:none;  padding:0;  margin:0;  width:10000px; }
.frame .list li {  width:340px;  float:left;  text-align:center;  vertical-align:middle;  overflow:hidden; }
 #big_list li img {height:260px;max-width:310px;vertical-align:middle;padding:10px 9px 9px 10px;  background:url({$skin_path}/images/pic_bg.gif) left top no-repeat;  border-right:1px solid white;   border-bottom:1px solid white;}
/*小图 小图宽度要减去两个左右按钮*/
 .l_frame {width:280px;float:left;overflow:hidden;}
 .l_frame .list {list-style:none;padding:0;margin:0;width:10000px;}
 .l_frame .list li {float:left;height:50px;cursor:pointer; margin:0px 5px; padding:3px 2px 2px 3px;overflow:hidden;
  background:url({$skin_path}/images/pic_bg.gif) left top no-repeat;border-right:1px solid white; border-bottom:1px solid white;}
 .l_frame .list li img {height:50px;width:55px;}
 .l_frame .list .cur {height:50px;overflow:hidden;}/*大图被选中*/
/*只有按钮*/
 .slide_nav_left {height:56px;width:26px;background:url({$base_url}/images/goleft.gif) left center no-repeat; display:block;float:left;text-indent:-10000px;}
 .slide_nav_right { height:56px; width:26px;background:url({$base_url}/images/goright.gif) right center no-repeat;display:block;float:left;text-indent:-10000px; }
/*右侧列表*/
 #pro_baseinfo{float:right;width:300px;}
 </style>
 <!-- 添加css结束 -->



<!-- 幻灯片 -->

<?php $pics = @array_values(unserialize($archive[pics])); ?>
<link type="text/css" href="{$base_url}/common/js/jquery/ui/jquery-ui-1.7.3.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="{$base_url}/common/js/jquery/ui/jquery-ui-1.7.3.custom.min.js"></script>

<script type="text/javascript">
$(function() {
	$('#dialog').dialog({
		autoOpen: false,
		width   : 300,
		buttons : {
			"继续购物"    : function() {
				$(this).dialog("close");
			}, 
			"去购物车结算": function() {
				window.location.href= "{url('archive/orders',true)}";
				$(this).dialog("close");
			}
		}
	});
	$('#dialog_link').click(function(){
		$.get("{url('archive/doorders/aid/'.$archive['aid'],true)}", null,function(data){
			if(data == 'limit'){
				$("#dialog").html("<p>购物车最多能存12件商品</p>");
			}
			$('#dialog').dialog('open');
			return false;
		});
	});
});
</script>
<div id="dialog" title="{lang(prompted)}"><p>{lang(add_to_cart)}</p></div>
<div id="pro_view">
<div id="pro_infor">

<!-- 左侧产品图 -->
{if $pics}

<div class="frame_box">

<div id="frame">
<!-- 大图片列表开始 -->
<div id="big_frame" class="frame">
<ul id="big_list" class="list">
{loop $pics $pic}<li><a href="{$pic}" rel="example_group"><img src="{$pic}" onerror='this.src="{config::get('onerror_pic')}"' /></a></li>{/loop}
</ul>
</div>
<!-- 大图片列表结束 -->
</div>
{/if}
<div class="blank10"></div>
<!-- 小图片列表开始 -->
<a id="back" class="slide_nav_left" href="#">left</a>
<div id="small_frame" class="l_frame">
<ul id="small_list" class="list">
{loop $pics $pic}<li><img src="{$pic}" onerror='this.src="{config::get('onerror_pic')}"' /></li>{/loop}
</ul>
</div>
<a id="forward" class="slide_nav_right" href="#">right</a>
<!-- 小图片列表结束 -->
<!-- 幻灯片结束 -->
</div>


<!-- 右侧说明 -->
<div id="pro_baseinfo">
<ul>
<li><strong>{lang(productname)}：</strong>{$archive[title]}</li>
{if $archive['attr2']}
{if $archive['attr2']==$archive['oldprice']}
<li><strong>{lang(price)}：</strong><span>{$archive['attr2']}</span>{lang(unit)}</li>
{else}
<li><strong>{lang(list_price)}：</strong><span style="text-decoration:line-through;">{$archive['oldprice']}</span>{lang(unit)} </li>
<li><strong>{lang(discount)}：</strong><span>{$archive['attr2']}</span>{lang(unit)}</li>
{/if}
</li>
{/if}
<li><strong>{lang(view)}：</strong>{view_js($archive[aid])}</li>
<li><strong>{lang(adddate)}：</strong>{$archive[adddate]}</li>
<li><strong>{lang(strgrades)}：</strong>{$archive[strgrade]}</li>
<li>&nbsp;</li>
{if $archive[attr2]}<li><a target="_blank" href="{url('archive/orders/aid/'.$archive[aid],true)}"><img style="width:45%;" src="{$skin_path}/images/buy.gif" /></a>&nbsp;&nbsp;<a id="dialog_link" title="{lang(makeorders)}" href="#"><img style="width:45%;" src="{$skin_path}/images/shopping.gif" /></a></li>{/if}
</ul>
</div>
</div>

</div>

<div class="blank30"></div>
<div class="p_info">{lang(pintro)}：</div>
<div class="blank30"></div>
<!-- 内容说明 -->

{$archive[content]}


{if get('share')=='1'}
<!-- 分享 -->
<div class="blank30"></div>
{template 'system/share.html'}
{/if}


<div class="blank30"></div>

<!-- 自定义表单开始 -->
{if $archive['showform']}
{template 'myform/nrform.html'}
<div class="blank30"></div>
{/if}
<!-- 自定义表单结束 -->

{if $archive[tag]}
<!-- tag -->
<div class="blank10"></div>
{lang(tag)}： {$archive[tag]}
{/if}

{if $archive[special]}
<!-- 专题 -->
<div class="blank10"></div>
{lang(special)}： {$archive[special]}
{/if}


{if $archive[type]}
<!-- 分类 -->
<div class="blank10"></div>
{lang(type)}： {$archive[type]}
{/if}


{if $archive[area]}
<!-- 地区 -->
<div class="blank10"></div>
{lang(area)}： {$archive[area]}
{/if}

<div class="blank30"></div>
{if $pages>1}
<!-- 内页分页 -->
<div class="blank10"></div>
<div class="pages">
{archive_pagination($archive)}
</div>
<div class="blank30"></div>
{/if}


<!--自动调用自定义字段-->
{$archive['my_fields']}
<div class="blank20"></div>


<?php if(archive_attachment($archive['aid'],'id')) { ?>
<!-- 附件 -->
<p>
{lang(attachment)}：{attachment_js($archive['aid'])}
</p>
<?php } ?>


<!-- 相关文章开始 -->
{if is_array($likenews)}
<div class="blank30"></div>
<div class="p_info">{lang(relatedcontent)}：{$archive[tag]}</div>
<div class="blank10"></div>
<ul class="news_list">
  {loop $likenews $item}
  <li><a href="{url('archive/show/id/'.$item['aid'])}">{cut($item['title'],20)}</a></li>
  {/loop}
  </ul>
{/if}
<!-- 相关文章结束 -->

<div class="blank30"></div>

<?php if(hasflash()) { ?>
<div style="color:red;font-size:16px;"><?php echo showflash(); ?></div><?php } ?>

<!-- 投票 -->
{vote_js($archive[aid])}


<script language="JavaScript">
function shutwin(){
window.close();
return;}
</script>

<div class="blank30"></div>
<div class="line_2"></div>
<div id="tool">
<ul>
<li><a href="javascript:window.print()" class="print">{lang(printcontent)}</a></li>
<li><a href="javascript:shutwin()" class="close">{lang(shutwin)}</a></li>
{if get('comment')=='1'}<li style="width:90px; padding-left:5px;"><a href='<?php echo url('comment/list/aid/'.$archive['aid']); ?>' class="t_4">{lang(comment)}</a></li>{/if}
{if $archive[attr2]}
<li><a title="{lang(makeorders)}" target="_blank" href="{url('archive/orders/aid/'.$archive[aid],true)}" class="orders">{lang(makeorders)}</a></li>
{/if}
</ul>
</div><div class="line_2"></div>

<div class="blank30"></div>


<!-- 上下页开始 -->
<div id="page">
{if $archive['p']['aid']}
<strong>{lang(archivep)}：</strong><a href="{$archive['p']['url']}">{$archive['p']['title']}</a>
{else}
<strong>{lang(archivep)}：</strong>{lang(nopage)}	
{/if}
<div class="clear"></div>
{if $archive['n']['aid']}
 <strong>{lang(archiven)}：</strong><a href="{$archive['n']['url']}">{$archive['n']['title']}</a>
{else}
<strong>{lang(archiven)}：</strong>{lang(nopage)}	
{/if}
</div>
<!-- 上下页结束 -->

<!-- 相关产品 -->
<div class="blank30"></div>
<div class="p_info">{lang(related_products)}：</div>
<div class="blank30"></div>

<!-- 滚动图片开始 -->
<script type="text/javascript" src="{$skin_path}/js/jquery.bxSlider.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
<!--用于滚动图片-->
    if($('#scroll a').length > 0){
	$('#scroll').bxSlider({
		auto: true,
		displaySlideQty:4,
		prevText: '',
		nextText: '',
		moveSideQty: 1
	});
	}
});
</script>

<div class="scroll">
<ul id="scroll" class="list-view">
{loop archive($topid,0,0,'0,0,0',20,'rand()',10,true,0) $i $archive}
<li><div class="img-wrap"><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}"><img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' /></a></div>
<h5><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}">{$archive['title']}</a></h5>
</li>
{/loop}
</ul>
</div>
<!-- 滚动图片结束 -->



<div class="blank30"></div>

<!-- 评论框开始 -->
{template 'comment/comment.html'}
<!-- 评论框结束 -->



<div class="blank30"></div>
<a title="{lang(gotop)}" href="#" class="clear floatright"><img alt="{lang(gotop)}" src="{$skin_url}/images/gotop.gif"></a>
<div class="blank30"></div>
<div class="clear"></div>
</div>
</div>
<!-- 右侧结束 -->

<div class="c_bottom"></div>
<div class="clear"></div>
</div>
<!-- 中部结束 -->

<!-- 商品图片滚动js -->
<script type="text/javascript" src="{$skin_path}/js/pic_scroll.js"></script>

<!-- 点击大图 -->
<script type="text/javascript" src="{$skin_path}/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="{$skin_path}/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{$skin_path}/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<script type="text/javascript" src="{$skin_path}/js/fancybox/fancybox.js"></script>


{template 'width_max.html'}

{template 'footer.html'}